#calc-header {


    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 48px;
    /* identical to box height */


    color: #000000;
}

#calc-desc {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    /* or 114% */
    color: #000000;

}

#results {
    display: none;
}

#results-2 {
    display: none;
}

.formQuestion {
    margin-top: 50px;
}

#taxError {
    display: none;
    color: red;
}

.calc-result-table {
    width: 100%;
}

.calc-result-table tr:not(#main-result-row) {
    border-bottom: 1px solid #D3D7DA;
}

table.calc-result-table td {
    border: none;
    font-size: 16px;
    padding: 10px 20px;
}

.sub-result {
    font-size: 18px;
    font-weight: bold;
    color: #13213C;
}

.main-result {
    font-size: 24px;
    font-weight: bold;
    color: #FAA31A;
}

#main-result-text {
    font-size: 24px;
    font-weight: bold;
    color: #000
}

#back-to-calc {
    border: none;
    background: white;
    cursor: pointer;
    font-size: 13px;
    color: #FAA31A;
}

.select select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #13213c;
    background-image: none;
    cursor: pointer;
}

/* Remove IE arrow */
.select select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #000000;
    transition: .25s all ease;
    pointer-events: none;
}

/* Transition */
.select:hover::after {
    color: #faa31b;
}