#calc-header {


    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 48px;
    /* identical to box height */


    color: #000000;
}

#calc-desc {
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    /* or 114% */


    color: #000000;

}

#results {
    display: none;
}

.formQuestion {
    margin-top: 50px;
}

#taxError {
    display: none;
    color: red;
}

.calc-result-table{
    width: 100%;
}

.calc-result-table tr:not(#netSalary-row){
    border-bottom: 1px solid #D3D7DA;
}
.calc-result-table td{
    font-size: 16px;
}
#grossSalary, #incomeTax, #pention{
    font-size: 22px;
    font-weight: bold;
    color: #13213C;
}
#netSalary{
    font-size: 24px;
    font-weight: bold;
    color: #FAA31A;
}

#netSalary-text{
    font-size: 24px;
    font-weight: bold;
    color: #000
}
#back-to-calc{
    font-size: 13px;
    color: #FAA31A;
}